/*Poppins Font imported*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*styles for whole body*/
body {
    font-family: 'Poppins', sans-serif;
}

/*styles for navbar*/
header nav {
    background-color: white !important;
}

header nav a {
    font-weight: 600;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Styles for Slider*/

.carousel-item.active {
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
    background: rgba(29, 29, 29, 0.7);
}

.carousel-item img {
    position: relative;
    z-index: -1;
}

@media screen and (max-width:576px) {

    .carousel-caption {
        transform: translateY(10%);
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}


@media screen and (min-width:577px) and (max-width:767px) {

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (min-width:992px) {
    .carousel-caption {
        transform: translateY(-50%);
    }
}

.colorful-btn {
    color: white;
    background-color: #289BDE;
}

.colorful-btn:hover {
    color: white;
    background-color: #136b9e;
    border: 1px solid #136b9e;
}