/*Poppins Font imported*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*styles for whole body*/
body {
    font-family: 'Poppins', sans-serif;
}

/*styles for navbar*/
header nav {
    background-color: white !important;
}

header nav a {
    font-weight: 600;
}

section {
    margin-bottom: 100px;
}

/*Styles for Slider*/

.carousel-item.active {
    background: rgba(29, 29, 29, 0.7);
}

.carousel-item img {
    position: relative;
    z-index: -1;
}

.colorful-btn {
    color: white;
    background-color: #289BDE;
}

.colorful-btn:hover {
    color: white;
    background-color: #136b9e;
    border: 1px solid #136b9e;
}

/*Styles for responsivenes*/

@media screen and (max-width:576px) {

    .carousel-caption {
        transform: translateY(10%);
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .course-thumbnails-img {
        width: 100%;
    }
}


@media screen and (min-width:577px) and (max-width:767px) {

    .course-thumbnails-img {
        width: 100%;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .course-thumbnails {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .course-thumbnails-img {
        height: 100%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (min-width:992px) {
    .course-thumbnails-img {
        height: 100%;
    }

    .carousel-caption {
        transform: translateY(-50%);
    }
}

/*Styles for course section*/

h6 {
    color: #289BDE;
}

.course-btn {
    margin-top: 25px;
    width: 170px;
}